/* File For Font Related Styles*/
/* Font Style */
* {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-text);
}

a {
    color: var(--color-text);
}

/* Font Color */
.text-accent {
    color: var(--color-accent);
}

/* Font Sizes (Default is Mobile) */
.text-extra-large {
    font-size: 24px;
}
.text-large {
    font-size: 20px;
}
.text-medium {
    font-size: 16px;
}
.text-small {
    font-size: 13px;
}

/* Font Weights */
.text-bold {
    font-weight: 800;
}

.text-semibold {
    font-weight: 600;
}

.text-light {
    font-weight: 300;
}

/* Positioning */
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

/* Tablet */
@media (min-width: 768px) {
    .text-extra-large {
        font-size: 32px;
    }
    .text-large {
        font-size: 26px;
    }
    .text-medium {
        font-size: 20px;
    }
    .text-small {
        font-size: 14px;
    }
}

/* Laptop */
@media (min-width: 1024px) {
    .text-extra-large {
        font-size: 40px;
    }
    .text-large {
        font-size: 32px;
    }
    .text-medium {
        font-size: 24px;
    }
    .text-small {
        font-size: 16px;
    }
}
