/* File For Font Related Styles*/
/* Font Style */
* {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    line-height: 1.5;
}

a {
    color: var(--color-text);
}

/* Font Color */
.text-accent {
    color: var(--color-accent);
}

/* Font Sizes */
.text-extra-large {
    font-size: 40px;
}

.text-large {
    font-size: 32px;
}

.text-medium {
    font-size: 24px;
}

.text-small {
    font-size: 16px;
}

/* Font Weights */
.text-bold {
    font-weight: 800;
}

.text-light {
    font-weight: 300;
}

/* Footer Behaviour */
footer,
footer a {
    color: #f3f3f3;
}
