.container {
    padding: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 100px;
}

.hero .portrait {
    display: flex;
    flex-direction: row-reverse;
}

.hero .portrait img {
    border-radius: 50px 25px;
    box-shadow: 0px 3px 5px var(--color-text);
    flex: 8;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.hero .portrait figcaption {
    flex: 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transition: color 0.2s ease-in-out;
}

.hero .portrait figcaption:hover {
    color: var(--color-text);
}

.hero .description {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero .description .links,
.projects .description .links {
    display: flex;
    gap: 15px;
}

.hero .description .links img,
.projects .description .links img {
    width: 75px;
    height: 75px;
    transition: opacity 0.15s ease-in;
}

.hero .description .links img:hover,
.projects .description .links img:hover {
    opacity: 0.5;
}

.hero .description .resume {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid var(--color-text);
    width: fit-content;
    height: fit-content;
    transition: border-radius 0.1s linear;
    background-color: var(--color-background);
}

.hero .description .resume:hover {
    border-radius: 15px;
    cursor: pointer;
}

/* Education */
.education,
.technical,
.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.education .underline-effect {
    align-self: center;
}

.education .container-divisor {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.education-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3px;
    border: 2px solid var(--color-text);
    padding: 15px 20px;
    border-radius: 15px;
    width: 100%;
    transition: transform 0.2s ease-out;
}

.education-container:hover {
    transform: scale(1.02);
}

.education-container h3 {
    opacity: 0.7;
}

/* Technical Skills*/
.technical .container-divisor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.technical .technical-container {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px var(--color-text);
    transition: transform 0.1s linear;
}

.technical .technical-container:hover {
    transform: translateY(-20px);
}

.technical .technical-container .skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.technical .technical-container .skill .proficiency-tag {
    display: flex;
    justify-content: space-between;
}

.technical .technical-container .skill .progress {
    width: 100%;
    border-radius: 30px;
    height: 10px;
    background-color: rgba(var(--color-text-rgb), 0.9);
}

.technical .technical-container .skill .progress .progress-fill {
    height: 100%;
    border-radius: 30px;
}

/*languages */
#typescript {
    width: 70%;
    background-color: #3178c6;
}

#javascript {
    width: 80%;
    background-color: #f7df1e;
}

#kotlin {
    width: 60%;
    background-color: #7f52ff;
}

/* framework */
#react {
    width: 80%;
    background-color: #61dafb;
}
#tailwind {
    width: 75%;
    background-color: #06b6d4;
}
#fastapi {
    width: 70%;
    background-color: #009688;
}
/* tools */
#github {
    width: 90%;
    background-color: #6e40c9;
}
#docker {
    width: 50%;
    background-color: #2496ed;
}
#firebase {
    width: 70%;
    background-color: #ff9800;
}

/*Projects*/
.projects .underline-effect {
    margin: 0 auto;
}

.projects .container-divisor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects .container-divisor .project-container {
    padding: 20px 45px;
    border-radius: 90px 50px;
    border: 2px solid var(--color-text);
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 20px;
    align-items: center;
    transition:
        box-shadow 0.1s linear,
        border 0.1s linear;
}

.projects .container-divisor .project-container:hover {
    box-shadow: 0px 4px 10px var(--color-accent);
    border: 0px;
}

.projects .container-divisor .project-container .description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.projects .container-divisor .project-container .project-img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    object-fit: cover;
}

.projects .description .links img {
    width: 75px;
    height: 75px;
    margin-top: 10px;
}

/*simplify on print*/
@media print {
    header,
    footer {
        display: none;
    }

    /* Avoid Choppy Elements */
    .education-container,
    .technical-container,
    .project-container {
        page-break-inside: avoid;
    }

    /*Project Highlights header is clean now*/
    .projects h1 {
        page-break-before: always;
    }

    /* Font Sizes */
    .text-extra-large {
        font-size: 24px;
    }

    .text-large {
        font-size: 18px;
    }

    .text-medium {
        font-size: 14px;
    }

    .text-small {
        font-size: 12px;
    }

    .container {
        padding: 20px;
    }

    .education,
    .technical,
    .projects {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* hero */
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero figcaption {
        display: none;
    }

    .hero .portrait img {
        flex: 1;
        width: 400px;
        height: 400px;
    }

    /* Technicals */
    .progress {
        print-color-adjust: exact;
    }

    .progress-fill {
        print-color-adjust: exact;
    }

    /* Project Highlights */
    .projects .container-divisor .project-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    /* Remove the github image*/
    .projects .description .links img {
        display: none;
    }
}
