/*Padding - 8 px*/
/*Rounding - 15px*/

/* Removing Defaults*/
* {
    box-sizing: border-box;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* Accent Color - For Highlighting Texts or Special Context */
/* RGB values for opacity related operations */
:root {
    --color-text: #000000;
    --color-background: #f3f3f3;
    --color-accent: #2563eb;
    --color-text-rgb: 0, 0, 0;
    --color-background-rgb: 243, 243, 243;
    --color-accent-rgb: 37, 99, 235;
    --color-ui-bg: #ffffff;
    --color-ui-border: #cccccc;
    --color-star: #555555;
    --color-button: #f5f5f5;
}

/*Dark Mode*/
.dark {
    --color-text: #d1d1d1;
    --color-background: #1e1e1e;
    --color-text-rgb: 209, 209, 209;
    --color-background-rgb: 30, 30, 30;
    --color-ui-bg: #2d2d2d;
    --color-ui-border: #444444;
    --color-star: #999999;
    --color-button: #d1d1d1;
}

/* Class for Transitions - Use JS to load so first run doesnt happen*/
.transition-allowed * {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

/* Body - Background Color */
body {
    background-color: var(--color-background);
}

/* Header */
header {
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0px;
    z-index: 100;
}

header .mobile {
    display: block;
}

header .non-mobile {
    display: none;
}

header .mobile .main-compartment {
    background-color: var(--color-background);
    position: relative;
    z-index: 100;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(var(--color-accent-rgb), 0.5);
}

/* Theme Switch Button */
header .mobile .btn-theme {
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: var(--color-text);
    margin: 0 auto;
    transition: opacity 0.1s ease-in-out;
}

/* Trigger Button */
header .mobile .btn-header {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: auto;
    border: 1px solid var(--color-text);
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Dropdown */
header .mobile .header-dropdown {
    display: none;
}

header .mobile .header-dropdown.active {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 5;
    animation: nav-dropdown 0.2s linear;
}

header .mobile .header-dropdown ul {
    padding: 20px;
    width: 100%;
    background-color: var(--color-background);
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 10px rgba(var(--color-accent-rgb), 0.5);
}

header .mobile .header-dropdown ul li {
    padding: 5px;
}

@keyframes nav-dropdown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Footer */
footer {
    width: 100%;
    margin-top: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -4px 10px rgba(var(--color-accent-rgb), 0.5);
    background-color: var(--color-accent);
}

footer .company-tag {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

footer nav li {
    margin: 5px 0;
    position: relative;
}

/* Footer Behaviour */
footer,
footer a,
footer h1,
footer h2,
footer p,
footer em {
    color: var(--color-text);
}

/* Media Query */
@media (min-width: 768px) {
    /*Header*/

    header .mobile {
        display: none;
    }

    header .non-mobile {
        display: block;
    }

    header .non-mobile {
        width: 100%;
        background-color: var(--color-background);
        padding: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 10px rgba(var(--color-accent-rgb), 0.5);
        position: sticky;
        top: 0;
        z-index: 100;
    }

    header .non-mobile nav li {
        display: inline;
        margin: 0px 12px;
        position: relative;
    }

    header .non-mobile .right {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    /* Theme Switch Button */
    header .non-mobile .right .btn-theme {
        padding: 5px 15px;
        border-radius: 30px;
        background-color: var(--color-text);
        transition: opacity 0.1s ease-in-out;
    }

    header .non-mobile .right .btn-theme:hover {
        opacity: 0.75;
        cursor: pointer;
    }

    /* Sign Out Effect */
    header .non-mobile .sign-out {
        opacity: 1;
        transition: opacity 0.1s ease-in;
    }

    header .non-mobile .sign-out:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    /* Footer */
    footer {
        flex-direction: row-reverse;
        padding: 50px;
    }

    footer nav {
        flex: 1;
    }

    footer nav li {
        margin: 10px 0;
    }

    footer .company-tag {
        flex: 3;
        justify-content: space-between;
        margin-top: 0;
    }

    footer .underline-effect:after {
        background-color: var(--color-text);
    }
}

@media print {
    header,
    footer {
        display: none;
    }

    /* Font Sizes */
    .text-extra-large {
        font-size: 24px;
    }

    .text-large {
        font-size: 18px;
    }

    .text-medium {
        font-size: 14px;
    }

    .text-small {
        font-size: 12px;
    }
}
