/*Padding - 8 px*/
/*Rounding - 15px*/

/* Removing Defaults*/
* {
    box-sizing: border-box;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* Accent Color - For Highlighting Texts or Special Context */
/* RGB values for opacity related operations */
:root {
    --color-text: #000000;
    --color-background: #f3f3f3;
    --color-accent: #2563eb;
    --color-text-rgb: 0, 0, 0;
    --color-background-rgb: 243, 243, 243;
    --color-accent-rgb: 37, 99, 235;
}

/*Dark Mode*/
.dark {
    --color-text: #d1d1d1;
    --color-background: #1e1e1e;
    --color-text-rgb: 209, 209, 209;
    --color-background-rgb: 30, 30, 30;
}

/* Class for Transitions - Use JS to load so first run doesnt happen*/
.transition-allowed *{
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

/* Body - Background Color */
body {
    background-color: var(--color-background);
}

/* Header */
header {
    width: 100%;
    background-color: var(--color-background);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(var(--color-accent-rgb), 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav li {
    display: inline;
    margin: 0px 12px;
    position: relative;
}

/* Footer */
footer {
    width: 100%;
    margin-top: auto;
    padding: 50px;
    display: flex;
    box-shadow: 0 -4px 10px rgba(var(--color-accent-rgb), 0.5);
    background-color: var(--color-accent);
}

footer nav li {
    margin: 10px 0;
    position: relative;
}

/* Shared Underline Effect for Header and Footer */
/* Underline Effect */
header nav a::after,
footer nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.3s ease;
}

footer nav a::after {
    background-color: var(--color-text);
}

/* On Hover Set With to Full */
header nav a:hover::after,
footer nav a:hover::after {
    width: 100%;
}

/* Footer Behaviour */
footer,
footer a,
footer h1,
footer h2,
footer p,
footer em {
    color: var(--color-text);
}
